@charset "utf-8";

#messageInfo{
	border:1px solid #DDD;
	width:100%;
	height:40px;
	line-height:40px;
	background-color:#FDF8E2;
	/*display:none;*/
}
#messageInfo .info{
	font-size:12px;
	color:#66F;
	margin-left:8px;
	float:left;
}
#messageInfo .join{
	border:1px solid #BBB;
	width:50px;
	line-height:30px;
	color:#333;
	float:right;
	border-radius:5px;
	background-color:#EEE;
	margin-right:8px;
	position:relative;
	top:4px;
	overflow:hidden;
}
#messageInfo .join:hover{
	background-color:#DDD;
	cursor:pointer;
}
#map{
	border:1px dotted red;
	width:100%;
	height:240px;
	background-color:#EEE;
}
.score{
	width:100%;
	min-height:60px;
	background-color:#FFF;
	overflow:auto;
}
.result, .grade{
	border-right:1px solid #BBB;
	width:49%;
	line-height:30px;
	float:left;
}
.grade{
	border-right:none;
	float:right;
}
.class_option{
	border:1px solid blue;
	width:100%;
	height:40px;
}

#menu{
	background-color:#555;
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
	z-index:999;
	/*默认菜单收起*/
	display:none;
}

.menu_options,.menu_options_info{
	width:100%;
	height:auto;
}

.menu_option, .menu_option_info{
	border-bottom:1px solid #AAA;
	width:100%;
	height:40px;
	line-height:45px;
	text-align:left;
	font-size:16px;
	color:#CCC;
	padding-left:15px;
}

.menu_option:hover, .menu_option_info:hover{
	background-color:#777;
	cursor:pointer;
}

.menu_options_info{
	position:absolute;
	bottom:0px;
}

.menu_options_info{
	border:none;
	border-top:1px solid #AAA;
}